/* General Layout */

html {
height: 100%;
}

body {
font: 12px/1.7em "Arial" , sans-serif;
color: #333;
height: 100%;
margin: 0;
padding: 0;
}

.inputHeader {
}

.hidden {
visibility: hidden;
display: none;
}

.label {
margin-right: 10px;
}

.contentBox {
border: 1px solid #d2d4ea;
background-color: #fff;
padding: 0px 11px 11px 11px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 6px;
box-shadow: 3px 3px 5px #888;
margin: 20px;
position: absolute;
z-index: 1000;
}

#searchBar {
}

h2 {
background: #fff;
padding: 0 6px 0 0;
margin: 3px;
}

#resultListBox {
position: absolute;
border: 1px solid #777;	
padding: 3px 5px;
color: #777;
box-shadow: 3px 3px 5px #888;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 6px;
min-width: 200px;
overflow: auto;
right: 0;
}

#resultListBox  tr:hover {
background: #777;
color: #FFF;
cursor: pointer;
}

.errorMessage {
color: red;
margin: 5px;
}

#messageDiv {
width: 300px;
overflow: auto;
}

#map_canvas {
position: static;
z-index: -1000;
height: 100%;	
}

#timelineBox {
background-color: #aaa;
width: 100%;
height: 200px;
position: absolute;
z-index: 1000;
bottom: 0;
}

.resultList {
display: block;
width: 100%;
height: auto;
}

.result {
display: block;
width: auto;
height: auto;
padding: 8px 15px;
border: 1px solid #ccc;
text-align: center;
background: #eee;
margin: 5px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
cursor:move;
}

.activityInResult {
display: block;
width: auto;
height: auto;
padding: 8px 12px;
border: 1px solid #ccc;
text-align: center;
background: #ccc;
margin: 5px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
cursor:move;
}

.resultItemTitle {
    font-weight: bold;
    white-space: normal;
}

.resultItemButton {
margin: 2px;
display: inline-block;
float: right;
height: 16px;
width: 16px;
background: rgba( 255, 255, 255, .8 ) 
	url('images/searchIcon.gif') 
	50% 50% 
	no-repeat;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
border: 1px solid #d2d4ea;
}

.resultItemButton:hover {
border: 2px solid #d2d4ea;
cursor:pointer;
}

.timelineItem {
display: inline-block;
width: 100px;
height: 100px;
padding: 8px 15px;
margin: 5px;
border: 1px solid #ccc;
text-align: center;
background: #eee;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;	
vertical-align:top;
box-shadow: 3px 3px 5px #888;
white-space:normal;
z-index: 10001;
}

.timeline {
clear: both;
width: 100%;
height: 150px;
overflow: hidden;
white-space:nowrap;
background-color: #bbb;
overflow-x: scroll;
overflow-y: hidden;
position: absolute;
bottom: 0;
}

.highlightedResult {
background: #00ccff;
}

.highlight {
background: #fff;
}

/* Loading animation */
.modal {
display:    none;
position:   fixed;
z-index:    1000;
top:        0;
left:       0;
height:     100%;
width:      100%;
background: rgba( 255, 255, 255, .8 ) 
	url('http://i.stack.imgur.com/FhHRx.gif') 
	50% 50% 
	no-repeat;
}
body.loading {
overflow: hidden;   
}
body.loading .modal {
display: block;
}

#trashcan {
margin: 5px;
display: inline-block;
float: right;
height: 150px;
width: 150px;
background: rgba( 255, 255, 255, .8 ) 
	url('images/trashcanIcon.png') 
	50% 50% 
	no-repeat;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
border: 1px solid #d2d4ea;
position: absolute;
right: 0;
bottom: 0;
}

#timelineTitle {
margin: 10px;
font-weight: bold;
font-size: 24px;
display: inline-block;
float: left;
}
